/* Styles for the checker and directory. */

/* 1. BASE LAYOUT                     */
/* 2. RESULT                          */
/* 3. SOCIAL SHARE                    */


/* 1. BASE LAYOUT                     */
.tgwf-content__wrapper > div:not(.wp-block-cover),
.tgwf-result__wrapper .wp-block-cover__inner-container {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {

	.tgwf-content__wrapper > div:not(.wp-block-cover),
	.tgwf-result__wrapper .wp-block-cover__inner-container {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	.tgwf-content__wrapper > div:last-child {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 960px) {

	.tgwf-content__wrapper > div:not(.wp-block-cover),
	.tgwf-result__wrapper .wp-block-cover__inner-container {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
}


/* 2. RESULT                          */
.tgwf-result {
	margin-top: 1rem;
}
.tgwf-result__icon {
	height: 100%;
}

@media screen and (min-width: 767px) {

	.tgwf-result {
		display: flex;
		margin-top: 2rem;
	}
	.tgwf-result > div:first-child {
		width: min(25%, 250px);
	}
	.tgwf-result > div:nth-child(2) {
		width: 100%;
		margin-left: 4rem;
	}
	.tgwf-result__summary {
		padding-right: 3rem;
	}
	
}


/* 3. SOCIAL SHARE                    */

#social a {
    display: inline-block;
    margin: 10px 6px 0 0;
	padding: 6px 16px 6px 36px;
	color: white;
	text-decoration: none;
	position: relative;
}
#social a:hover {
	background-color: rgba( 0,0,0,0.6 ); 
}

.social-button i {
	position: absolute;
	top: 8px;
	left: 10px;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.social-button__twitter {
	background-color: #00aced;
}
.social-button__twitter i {
	background-image: url( '../img/icons/twitter.svg' );
}
.social-button__linkedin {
	background-color: #007bb6;
}
.social-button__linkedin i {
	background-image: url( '../img/icons/linkedin.svg' );
}
.social-button__facebook {
	background-color: #3b5998;
}
.social-button__facebook i {
	background-image: url( '../img/icons/facebook.svg' );
}